{{!-- <div class='preLoad'>
    <link rel="prefetch" href="../../public/img/1.jpg" />
    <link rel="prefetch" href="../../public/img/2.jpg" />
    <link rel="prefetch" href="../../public/img/3.jpg" />
    <link rel="prefetch" href="../../public/img/4.jpg" />
    <link rel="prefetch" href="../../public/img/5.jpg" />
    <link rel="prefetch" href="../../public/img/6.jpg" />
    <link rel="prefetch" href="../../public/img/7.jpg" />
    <link rel="prefetch" href="../../public/img/8.jpg" />
    <link rel="prefetch" href="../../public/img/9.jpg" />
    <link rel="prefetch" href="../../public/img/10.jpg" />
    <link rel="prefetch" href="../../public/img/11.jpg" />
</div> --}}
<div id='titleHead'><h1>{{title}}</h1></div>

<div id='headNav'>
    <a href="/">weather</a>
    <a href="/about">about</a>
    <a href="/help">help</a>
</div>